<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="maindisplay">
        <div class="subdisplay">{{ subText }}</div>
        {{ mainText }}
      </div>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button (click)="allClear()" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
        <ion-col><ion-button (click)="resetLastNumber()" color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
        <ion-col><ion-button (click)="changeSign()" color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('/')" color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="pressKey('7')" color="light" size="large" expand="block" shape="round">7</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('8')" color="light" size="large" expand="block" shape="round">8</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('9')" color="light" size="large" expand="block" shape="round">9</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('x')" color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="pressKey('4')" color="light" size="large" expand="block" shape="round">4</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('5')" color="light" size="large" expand="block" shape="round">5</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('6')" color="light" size="large" expand="block" shape="round">6</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('-')" color="warning" size="large" expand="block" shape="round">-</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button (click)="pressKey('1')" color="light" size="large" expand="block" shape="round">1</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('2')" color="light" size="large" expand="block" shape="round">2</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('3')" color="light" size="large" expand="block" shape="round">3</ion-button></ion-col>
        <ion-col><ion-button (click)="pressKey('+')" color="warning" size="large" expand="block" shape="round">+</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><ion-button (click)="pressKey('0')" color="light" size="large" expand="block" shape="round">0</ion-button></ion-col>
        <ion-col size="3"><ion-button (click)="pressKey('.')" color="light" size="large" expand="block" shape="round">.</ion-button></ion-col>
        <ion-col size="3"><ion-button (click)="getAnswer()" color="warning" size="large" expand="block" shape="round">=</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label><h6>Theme Switcher</h6></ion-label>
          <ion-toggle mode="ios" class="all-custom" color="medium" (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>
  </div>

</ion-content>
