.screen-section{   
    height: 30%;
    padding: 10% 5%;  

    h1{
        font-size: 5rem;
        text-align: left;
        line-height: 70%;
    }
}
//ion-col {
//    background-color: #000000;
//}
//ion-content {
//    --background: #000000;
//}
