<ion-menu contentId="main-content" type="push">
  <ion-content class="ion-padding" scroll-y="false" fullscreen>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <a href="/home"><h1>APP TOOLS</h1></a>
      </ion-toolbar>
    </ion-header>
      <ion-list color="none" lines="none">
        <h4>Cipher Tools</h4>
        <ion-item menu-close href="/atbashcipher">Atbash Cipher</ion-item>
        <ion-item menu-close href="/caesarcipher">Caesar Cipher</ion-item>
        <ion-item menu-close href="/vigenerecipher">Vigenere Cipher</ion-item>
        <h4>Calculator Tools</h4>
        <ion-item menu-close href="/calculator">Simple Calculator</ion-item>
        <ion-item menu-close href="/scicalculator">Scientific Calculator</ion-item>
        <h4>Other Tools</h4>
        <ion-item menu-close href="/horoscope">Horoscope</ion-item>
        <ion-item menu-close href="/horoscope">Random Jokes</ion-item>
      </ion-list>
  </ion-content>
  </ion-menu>
  
  
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon color="dark" name="menu-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar> 
  </ion-header>
<ion-content fullscreen>
  <ion-title>coming soon...</ion-title>
</ion-content>
</div>