<ion-header>
  <ion-toolbar>
    <ion-title>scical</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 colspan="7"><input type="text" id="display" name="display" size="78" maxlength="25" disabled></h1>
  <ion-grid>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value = ''" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '/'" color="medium" size="large" expand="block" shape="round">÷</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '*'" color="medium" size="large" expand="block" shape="round">×</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '('" color="warning" size="large" expand="block" shape="round">(</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += ')'" color="medium" size="large" expand="block" shape="round">)</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value = calculator.display.value.substring(0, calculator.display.value.length - 1)"color="warning" size="large" expand="block" shape="round">Del</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '1'" size="large" color="medium" expand="block" shape="round">1</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '2'" color="medium" size="large" expand="block" shape="round">2</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3'" color="medium" size="large" expand="block" shape="round">3</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '+'" color="warning" size="large" expand="block" shape="round">+</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value = Math.sin(calculator.display.value)" color="medium" size="large" expand="block" shape="round">sin</ion-button></ion-col>
      <ion-col size="2"><ion-button onclick="calculator.display.value = Math.sinh(calculator.display.value)" color="warning" size="large" expand="block" shape="round">sinh</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" color="medium" expand="block" shape="round">AC</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">&plusmn;</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">/</ion-button></ion-col>
      <ion-col size="2"><ion-button color="medium" size="large" expand="block" shape="round">C</ion-button></ion-col>
      <ion-col size="2"><ion-button color="warning" size="large" expand="block" shape="round">×</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label><h6>Theme Switcher</h6></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
