<ion-menu contentId="main-content" type="push">
<ion-content class="ion-padding" scroll-y="false" fullscreen>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <a href="/home"><h1>APP TOOLS</h1></a>
    </ion-toolbar>
  </ion-header>
    <ion-list color="none" lines="none">
      <h4>Cipher Tools</h4>
      <ion-item menu-close href="/atbashcipher">Atbash Cipher</ion-item>
      <ion-item menu-close href="/caesarcipher">Caesar Cipher</ion-item>
      <ion-item menu-close href="/vigenerecipher">Vigenere Cipher</ion-item>
      <h4>Calculator Tools</h4>
      <ion-item menu-close href="/calculator">Simple Calculator</ion-item>
      <ion-item menu-close href="/scicalculator">Scientific Calculator</ion-item>
      <h4>Other Tools</h4>
      <ion-item menu-close href="/horoscope">Horoscope</ion-item>
      <ion-item menu-close href="/horoscope">Random Jokes</ion-item>
    </ion-list>
</ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon color="dark" name="menu-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar> 
  </ion-header>
<ion-content fullscreen>
<ion-list lines="none">
  <ion-item class="day">
    <div size="small" slot="start">{{ today | date: 'EEEE' }}</div>
  </ion-item>
  <ion-item class="date">
    <div size="small" slot="start">{{ today | date: 'mediumDate' }}</div>
  </ion-item>
  <ion-item class="time">
    <div size="small" slot="start">{{ today | date: 'mediumTime' }}</div>
  </ion-item>
  </ion-list>

    <ion-grid>
      <h3>Cipher Tool</h3>
      <ion-row>
        <ion-col><ion-button href="/atbashcipher">Atbash Cipher</ion-button></ion-col>
        <ion-col><ion-button href="/caesarcipher">Caesar Cipher</ion-button></ion-col>
        <ion-col><ion-button href="/vigenerecipher">Vigenere Cipher</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <h3>Calculator</h3>
      <ion-row>
        <ion-col><ion-button href="/calculator">Simple Calculator</ion-button></ion-col>
        <ion-col><ion-button href="/scicalculator">Scientific Calculator</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <h3>Other Tools</h3>
      <ion-row>
        <ion-col><ion-button href="/horoscope">Horoscope</ion-button></ion-col>
        <ion-col><ion-button href="/horoscope">Random Jokes</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>