ion-content{
    --background: url(/assets/background/bg-main.png) no-repeat;
}
.ion-padding{
    --background: url(/assets/background/bg-sidemenu.png) no-repeat;
}

ion-grid {
    --ion-grid-padding: 5px;
    --ion-grid-padding-xs: 5px;
    --ion-grid-padding-sm: 5px;
    --ion-grid-padding-md: 5px;
    --ion-grid-padding-lg: 5px;
    --ion-grid-padding-xl: 5px;
    --ion-grid-column-padding: 10px;
    --ion-grid-column-padding-xs: 10px;
    --ion-grid-column-padding-sm: 10px;
    --ion-grid-column-padding-md: 10px;
    --ion-grid-column-padding-lg: 10px;
    --ion-grid-column-padding-xl: 10px;
  }
  ion-col {
    border: solid 1px rgb(0, 0, 0);
    color: #000;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(10px);

    ion-button {
        --display: block;
        --background: transparent;
        --background-hover: transparent !important;
        --ripple-color: transparent;
        --background-activated: transparent;
        --cursor: pointer;
        --box-shadow: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
}
h3 {
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
}
a {
    text-decoration: none;
}
ion-list{
    --ion-item-background: transparent;
    --color: #000;
}
ion-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    --ion-item-background: transparent;
    --color: #000;
}
ion-header {
    --shadow: none !important;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.day {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #000;
}
.date {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}
.time {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    padding-bottom: 20px;
}