<ion-menu contentId="main-content" type="push">
  <ion-content class="ion-padding" scroll-y="false" fullscreen>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <a href="/home"><h1>APP TOOLS</h1></a>
      </ion-toolbar>
    </ion-header>
      <ion-list color="none" lines="none">
        <h4>Cipher Tool</h4>
        <ion-item menu-close href="/atbashcipher">Atbash Cipher</ion-item>
        <ion-item menu-close href="/caesarcipher">Caesar Cipher</ion-item>
        <ion-item menu-close href="/vigenerecipher">Vigenere Cipher</ion-item>
        <h4>Calculator Tool</h4>
        <ion-item menu-close href="/calculator">Simple Calculator</ion-item>
        <ion-item menu-close href="/scicalculator">Scientific Calculator</ion-item>
      </ion-list>
  </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button><ion-icon color="dark" name="menu-outline"></ion-icon></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar> 
    </ion-header>

  <ion-content fullscreen>
  <div class="display">
    <br>
    <form name="calculator">
      <h1 colspan="7"><input type="text" id="display" name="display" size="80" maxlength="25" disabled></h1>
    </form>
  </div>
    <ion-grid>
      <ion-row>
        <ion-col size="2"><ion-button onclick="calculator.display.value += '3.14'" size="large" expand="block" shape="round">phi</ion-button></ion-col>
        <ion-col size="2"><ion-button onclick="calculator.display.value += '('" size="large" expand="block" shape="round">(</ion-button></ion-col>
        <ion-col size="2"><ion-button onclick="calculator.display.value += ')'" size="large" expand="block" shape="round">)</ion-button></ion-col>
        <ion-col size="2"><ion-button onclick="calculator.display.value += '.'" size="large" expand="block" shape="round">.</ion-button></ion-col>
        <ion-col size="2"><ion-button onclick="calculator.display.value = ''" size="large" expand="block" shape="round">clear</ion-button></ion-col>
        <ion-col size="2"><ion-button onclick="calculator.display.value = calculator.display.value.substring(0, calculator.display.value.length - 1)" size="large" expand="block" shape="round">del</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"><ion-button onclick="calculator.display.value = Math.pow(calculator.display.value,2)" size="large" expand="block" shape="round">x<sup><small>2</small></sup></ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.pow(calculator.display.value,3)">x<sup><small>3</small></sup></ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.pow(calculator.display.value, 4)">x<sup><small>4</small></sup></ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '7'">7</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '8'">8</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '9'">9</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '*'">×</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.sqrt(calculator.display.value)" >&radic;</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.sinh(calculator.display.value)">sinh</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '4'">4</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '5'">5</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '6'">6</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '-'">-</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '%'">mod</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.cosh(calculator.display.value)">cosh</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '1'">1</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '2'">2</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '3'">3</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '+'">+</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.log(calculator.display.value)">log</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.cosh(calculator.display.value)">cosh</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calcuator.display.value=fact(calculator.display.value)">n!</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '0'">0</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round"  value="=" onclick="calculator.display.value = eval(calculator.display.value)">=</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value += '/'">/</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.exp(calculator.display.value)">e<sup><small>x</small></sup></ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.tanh(calculator.display.value)">tanh</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.sin(calculator.display.value)">sin</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.cos(calculator.display.value)">cos</ion-button></ion-col>
        <ion-col size="2"><ion-button size="large" expand="block" shape="round" onclick="calculator.display.value = Math.tan(calculator.display.value)">tan</ion-button></ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</div>
