
ion-list{
  --ion-item-background: transparent;
  --color: #000;
}
ion-item{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  --ion-item-background: transparent;
  --color: #000;
}
h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000;
}
a {
  text-decoration: none;
}
ion-grid{
  padding-top: 50px;
  ion-col{
    color: #000;
    text-align: center;
    ion-button{
      font-size: 15px;
      border: solid 1px rgb(0, 0, 0);
      --display: block;
      --background: transparent;
      --background-hover: transparent !important;
      --ripple-color: transparent;
      --background-activated: transparent;
      --cursor: pointer;
      --box-shadow: none;
      color: black;
      font-family: 'Poppins', sans-serif;
      border-radius: 15px;
    }
  }
}
input{
  background: transparent;
  border: solid 1px rgb(0, 0, 0);
  width: 100%;
  height: 100px;
}
ion-header {
  --shadow: none !important;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-content{
  --background: url(/assets/background/bg-main2.png) no-repeat;
  font-family: 'Poppins', sans-serif;
}
.ion-padding{
  --background: url(/assets/background/bg-sidemenu.png) no-repeat;
}