.maindisplay {
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    font-weight: 600;
  }
  
  .subdisplay {
    height: 25%;
    font-size: 2rem;
    overflow: auto;
    font-weight: 300;
  }
ion-grid{
    padding-top: 50px;
}
